<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestNgGroupingTests.java">
        <groups>
            <run>
                <include name="smoke"/>
                <exclude name="regression"></exclude>
            </run>
        </groups>
        <classes>
            <class name="selenium.TestNgGroupingTests"></class>
        </classes>
    </test>
</suite>

















